*,
input,
select,
textarea {
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

.column-one-fourth {
    vertical-align: top;
}

.w-slider-nav.w-round > div {
    background-color: #fff;
    border-radius: 5px;
    height: 10px;
    margin: 0 6px;
    width: 40px;
    transition: all 0.2s ease-in-out;
}

.w-slider-nav.w-round > div:hover {
    background-color: #76add6;
}

.w-slider-dot.w-active {
    background-color: #026cb6 !important;
}


/* RESPONSIVE FIXES
---------------------------------------*/
.w-nav-overlay {
    background-color: rgba(34, 31, 114, 0.75);
}
